html {
  font-family: 'HankenLight';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}

::selection {
  background: white;
  color: #242424;
  padding: 10px;
  opacity: 1.0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  border-collapse: collapse;
  border-spacing: 0;
  text-decoration: none;
}

header {
  background: white;
  text-align: center;
  color: #242424;
  padding: 40px 0px 10px;
}

body { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background: #242424;
}

#nav href {
  display: inline;
}

main {
  display: block;
  max-width: 960;
  margin: 0px auto;
  margin-bottom: 45px;
  padding: 30px;
}

header h1 {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 4px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

p {
  padding: 5px;
}

main p.intro {
  text-align: center;
}

main p {
  display: block;
  max-width: 600px;
  font-size: 18;
  margin: 0 auto 30px auto;
  line-height: 32px;
}

