html {
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}

html, body {
  height: 100%;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  }

a:hover {
  background-color: #7da8d2;
  color: white;
  text-decoration: none;
}


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  color: inherit;
  border-collapse: collapse;
  border-spacing: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body { 
  position: relative;
  color: #7da8d2;
  background: #222034;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

nav {
  color: white;
  background: #3d3a5e;
  display: flex;
  flex-direction: column;
  padding: 30px;
  float: left;
  width: 250px;
  height: 100%;
  overflow-y: auto; 
}

nav div.home {
  padding: 0;
  padding-bottom: 20px;
  text-align: left;
  margin:0;
}

nav h3 {
  text-decoration: underline;
  margin-bottom: 10px;
  color: #d9a066;
}

nav ul {
  list-style: none;
}

nav ul li li {
  padding-left: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  text-align: center;
  flex-direction: column;
}

nav div.home img {
  width: 60%;
  text-decoration: none;
}

nav ul img {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-bottom: 10px;
}

main {
  float: left;
  padding: 50px 100px 0 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-size: 18px;
}

main * {
  padding-bottom: 15px;
  max-width: 60%;
}

main h1 {
  padding-bottom: 20px;
  font-size: 32px;
}

main h2 {
  padding-bottom: 20px;
  font-size: 24px;
}

main p {
  line-height: 32px;
  font-weight: normal;
}

main li {
    margin-left: 30px;
}

a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

main p.intro { 
  text-align: center;
}

/* Used for displaying project preview images */
main div.project {
  max-width: 800px;
  display: block;
  padding-bottom: 30px;
}

main a.project-group {
  padding: 10px;
}

main a.project-group img {
  width: 200px;
  height: 300px;
}

main a.project-group:hover img {
    width: 210px;
    height: 300px;
}

main a.project-group:hover {
  text-decoration: none;
}

main img.home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  max-width: 100%;
}

main div.contact h1 {
  display: block;
  width: 100%;
  font-size: 4vw;
  color: #d9a066;
}

/* ------------ FOOTER ------------*/
footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  padding: 10px 10px 10px 30px;
  color: #222034;
  background: #7da8d2;
}

footer a {
  color: #222034;
  font-weight: normal;
  text-decoration: underline;
}

footer a:hover {
  background: white;
  color: #7da8d2;
}

@media (max-width: 1100px) {
  nav {
    width: 200px;
  }

  main {
    padding: 50px 50px 0 30px;
  }

  main a.project-group img {
    width: 18vw;
    height: 27vw;
  }
}

/* Mobile and Small Screens */
@media (max-width: 700px) {
  body {
    display: block;
    flex-direction: unset;
    height: 85%-50px;
  }

  nav {
    flex-direction: row;
    width: 100%;
    height: 15%;
    text-align: center;
    padding: 10px;
    overflow: auto;
    font-size: 3vw;
    white-space: nowrap;
  }

  nav ul {
    width: 100%;
    flex-direction: row;
    list-style: none; 
    overflow-x: auto;
    align-items: center;
    display: flex;
  }

  nav h3 {
      display: none;
  }

  nav ul li {
      display: flex;
      padding-right: 15px;
      align-items:center;
      justify-content: center;
  }

  nav ul li:not(:last-child) {
      border-right: 1px solid white;
  }

  nav ul li img {
    padding: 0;
    width: 32px;
    height: 32px;
  }

  main { 
    min-width: unset;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85% - 50px;
    padding: 10px;
    overflow: auto;
  }

  main * {
    max-width: 100%;
  }

  main p {
    width: unset;
    font-size: 20px;
  }

  main div.contact h1 {
    display: block;
    width: 100%;
    font-size: 6vw;
  }

  /* Used for displaying project preview images */
  main div.project {
    width: 100%;
    max-width: 100%;
    display: block;
    text-align: center;
  }

  main a.project-group {
    padding: 5px;
  }

  main a.project-group img {
    width: 24vw;
    height: 36vw;
  }

  main a.project-group:hover {
    text-decoration: none;
  }

  /* ------------ FOOTER ------------*/
  footer {
    position: relative;
    bottom: unset;
    height: 50px;
    width: 100%;
    display: flex;
    padding: 10px 10px 30px 10px;
    color: #222034;
    background: #7da8d2;
  }

  footer a:hover {
    background: white;
    color: #7da8d2;
  }
