html {
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}

html, body {
  height: 100%;
}

img {
  draggable: none;
}

::selection {
  background: white;
  color: #242424;
  padding: 10px;
  opacity: 1.0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  color: inherit;
  border-collapse: collapse;
  border-spacing: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body { 
  position: relative;
  color: #3c6478;
  background: #222034;
  height: 100%;
}

nav {
  color: white;
  background: #3d3a5e;
  display: flex;
  flex-direction: column;
  padding: 45px;
  float: left;
  width: 15%;
  height: 100%;
}

nav h1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

nav h3 {
  text-decoration: underline;
  margin-bottom: 10px;
  color: #d9a066;
}

nav ul {
  list-style: none;
}

nav ul li li {
  padding-left: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  text-align: center;
}

nav img {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 160px;
}

nav a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

main {
  float: left;
  padding: 50px 100px 0 100px;
  width: 85%;
  height: 100%;
  display: block;
  overflow-y: auto;
}


main p a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

main p a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

main p.intro { 
  text-align: center;
}

main p {
  padding-bottom: 20px;
  max-width: 600px;
  margin: 0 auto 30px auto;
  font-size: 18px;
  line-height: 32px;
  font-weight: normal;
}

main a.project-group h3 {
  color: #d9a066;
  text-decoration: underline;
}

main div.project-content {
  display: inline;
}

main div.project-content img {
  max-width: 100px;
}

main a.project-group:hover {
  color: white;
  text-decoration: none;
  background: grey;
}

main img.home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

main div.contact h1 {
  font-size: 32px;
  color: #d9a066;
}

/* Mobile and Small Screens */
@media (max-width: 1100px) {
  nav {
    flex-direction: none;
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 15px;
  }

  nav ul {
    margin: auto;
  }

  nav ul li ul {
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  nav img {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 160px;
  }

  main { overflow-y: none;
    height: auto;
    padding: 10px;
  }
}
